div.columns       { width: 1100px;text-align: center; margin: auto;}
div.columns div   { width: 450px; height: 450px; float: left; border: 2px #cccccc solid;}
div.clear         { clear: both; }
.current-winner-status{
  text-align: center;
}
